
/*

Styles used for labels and input fields in boot strap columns

*/
body {
  background-image: url('../images/profile-image/background.png'); /* Replace 'your-image.jpg' with the path to your image file */
  background-size: cover; /* This ensures the background image covers the entire viewport */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-attachment: fixed; /* Fix the background image in place */
}

.row label {
    margin-top: 1.5em;
    vertical-align: middle;
    text-align: right;
  }
  
  .row input {
    margin-top: 1em;
    padding: 0.35em;
    border-radius: 4px;
    width:100%;
    border: 1px solid lightgray;
  }
  
.art-image {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}